#container {
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

.my-color{
    color: #fd0054;
}

.header{
    height:150px;
    /* margin-bottom: 0px; */
}

.navbar{
    background-color:#43dde6;
    height:100%;
}

.jumbotron{
    width: 50%;
    left: 25%;
    position: relative;
    background-color:#d7d7d8;
}

form{
    margin: 50px 60px 5px;
}

input[type=text]{
    height: 40px;
}

.sbmt-btn{
    margin:50px 0 20px;
}

#body{
    margin: 50px 0;
}
